langchain
langchain-core
langchain-classic
langchain-community
pypdf
langchain-pdf
bs4
langchain-experimental
sentence-transformers
langchain-chroma

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub
langchain-groq

python-dotenv

numpy
scikit-learn
pandas
torch
grandalf